{
  "presets": ["es2015-node6"],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-function-bind",
    "transform-object-rest-spread",
    "transform-object-entries"
  ]
}
